<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav>
                <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
                <a mat-button routerLink="/contacto" routerLinkActive="active">Contacto</a>
            </nav>
            <a mat-button (click)="logOut()">
                <mat-icon>
                    logout
                </mat-icon>
                Salir
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>